*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    list-style: none;
}
html{
    font-size: 20px;
}
body{
    height: 100vh;
    background-color: #343f5c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 30rem;
    background-color: #ff9710;
    text-align: center;
    color: #fff;
}
.container .title-container .title{
    margin-top: 0.5rem;
}
.container .input-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.container .input-container input{
    width: 60%;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding-left: 0.5rem;
}
.container .input-container .btn{
    width: 20%;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    cursor: pointer;
    opacity: 0.5;
    background-color: lightgray;
}
.container .input-container .btn:hover{
    opacity: 1;
}
.todo-container{
    width: 30rem;
}
.todo-container .to-do-list{
    width: 100%;
    max-height: 15rem;
    overflow: auto;
}
.todo-container .to-do-list li{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #ededed;
}
.todo-container .to-do-list li:hover{
    background-color: #cccccc;
    cursor: pointer;
}
.todo-container .to-do-list li .closeBtn{
    display: none;
}
.todo-container .to-do-list li .closeBtn:hover{
    color: red;
}
.todo-container .to-do-list li:hover .closeBtn{
    display: inline;
}
.line-through{
    background-color: #888;
    text-decoration: line-through;
}



